@model Caso_2.Models.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid bg-dark text-light py-4">
    <h1 class="text-center mt-4">Dashboard</h1>

    <div class="row mt-5">
        <div class="col-md-6 mb-4">
            <div class="card text-light shadow" style="background-color:#000000">
                <div class="card-body text-center">
                    <h5 class="card-title text-info">Total de Usuarios Registrados</h5>
                    <h2 class="display-4">@Model.TotalUsuarios</h2>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card text-light shadow" style="background-color:#000000">
                <div class="card-body text-center">
                    <h5 class="card-title text-warning">Total de Eventos Activos</h5>
                    <h2 class="display-4">@Model.TotalEventos</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card text-light shadow" style="background-color:#000000">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color:#ff05f3"><strong>Total de Inscritos @Model.MesAnioActual</strong></h5>
                    <h2 class="display-4">@Model.TotalInscritosMes</h2>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card text-light shadow" style="background-color:#000000">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color:#4dfbca"><strong>Total de Categorias Activas</strong></h5>
                    <h2 class="display-4">@Model.TotalCategorias</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-5">
    <div class="col-md-12">
        <div class=" text-light shadow" style="background-color:#000000">
            <div class="card-body">
                <h5 class="card-title m-3 mt-2 p-3">Gráfico de Resumen</h5>
                <canvas id="dashboardChart" width="400" height="150"></canvas>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <div class="card text-light shadow" style="background-color:#000000">
            <div class="card-body">
                <h5 class="card-title m-3 mt-2 p-3" style="color: #ffab00;">Top 5 eventos con más inscripciones</h5>
                <ul class="list-group list-group-flush">
                    @foreach (var evento in Model.TopEventos)
                    {
                        <li class="list-group-item bg-dark text-light">@evento</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>


  


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('dashboardChart').getContext('2d');
        const dashboardChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Usuarios', 'Eventos','Inscripciones','Categorias'],
                datasets: [{
                    label: 'Cantidad',
                    data: [@Model.TotalUsuarios, @Model.TotalEventos, @Model.TotalInscritosMes,@Model.TotalCategorias],
                    backgroundColor: [
                        'rgb(13, 202, 240)',
                        'rgb(255, 193, 7)',
                        'rgb(255, 5, 243)',
                        'rgb(77, 251, 202)'
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(255, 206, 86, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        labels: {
                            color: '#fff' 
                        }
                    }
                },
                scales: {
                    x: {
                        ticks: {
                            color: '#fff' 
                        }
                    },
                    y: {
                        ticks: {
                            color: '#fff', 
                            beginAtZero: true
                        }
                    }
                }
            }
        });
    </script>
}
