@model Caso_2.Models.Evento

<div class="card">
    <div class="card-header" style="background-color:#09090b">
        <h4 class="text-white">@Model.Titulo</h4>
    </div>
    <div class="card-body text-white" style="background-color:#171c22">
        <p><strong>Descripción:</strong> @Model.Descripcion</p>
        <p><strong>Fecha:</strong> @Model.Fecha.ToShortDateString()</p>
        <p><strong>Hora:</strong> @Model.Hora.ToString("hh\\:mm")</p>
        <p><strong>Duración:</strong> @Model.Duracion horas</p>
        <p><strong>Ubicación:</strong> @Model.Ubicacion</p>
        <p><strong>Cupo Máximo:</strong> @Model.CupoMaximo</p>
        <p><strong>Categoría:</strong> @Model.Categoria.Nombre</p>
        <p><strong>Usuario Registro:</strong> @Model.UsuarioRegistro</p>
        <p><strong>Fecha Registro:</strong> @Model.FechaRegistro</p>
        <p>
            <strong>Estado:</strong>
            @if (Model.Estado)
            {
                <span class="badge bg-success">Activo</span>
            }
            else
            {
                <span class="badge bg-danger">Inactivo</span>
            }
        </p>
    </div>
    <div class="card-footer text-end" style="background-color:#121922">
        <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary">Editar</a>
        <a href="@Url.Action("Index")" class="btn btn-secondary">Regresar</a>
    </div>
</div>
