@model IEnumerable<Caso_2.Models.Evento>

<h1 class="text-white">Eventos Disponibles</h1>

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>Título</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Ubicación</th>
            <th>Cupo Disponible</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var evento in Model)
        {
            <tr>
                <td>@evento.Titulo</td>
                <td>@evento.Fecha.ToShortDateString()</td>
                <td>@evento.Hora</td>
                <td>@evento.Ubicacion</td>
                <td>@evento.CupoMaximo</td>
                <td>
                    <a asp-action="Inscritos" asp-controller="Inscripcion" asp-route-id="@evento.Id" class="btn btn-primary btn-sm">Ver Inscritos</a>
                    <a asp-action="TomarAsistencia" asp-controller="Inscripcion" asp-route-id="@evento.Id" class="btn btn-success btn-sm">Tomar Asistencia</a>
                </td>
            </tr>
        }
    </tbody>
</table>